<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="main-page-social-media.css" />
  </head>
  <body>
    <section class="social-section">
      <div class="social-box">
        <div class="social-view">
          <div class="social-overlap">
            <div class="social-group">
              <img class="social-phone" src="https://c.animaapp.com/mfjxamrhgPb3CJ/img/phone-1.png" />
              <div class="social-content">
                <div class="social-frame">
                  <div class="social-overlap-group-wrapper">
                    <div class="social-overlap-group"><div class="social-text-wrapper">Telegram</div></div>
                  </div>
                  <div class="social-overlap-wrapper">
                    <div class="social-overlap-group"><div class="social-text-wrapper-2">YouTube</div></div>
                  </div>
                  <div class="social-overlap-wrapper">
                    <div class="social-overlap-group"><div class="social-text-wrapper-3">TikTok</div></div>
                  </div>
                  <div class="social-overlap-wrapper">
                    <div class="social-overlap-group"><div class="social-text-wrapper-4">Прайс</div></div>
                  </div>
                  <div class="social-content-wrapper">
                    <div class="social-overlap-group"><div class="social-text-wrapper-5">Калькулятор</div></div>
                  </div>
                </div>
                <div class="social-frame-2">
                  <div class="social-group-2">
                    <div class="social-text-wrapper-6">Телеграм канал</div>
                    <div class="social-text-wrapper-7">CRYPTOPAPA_UA</div>
                    <img
                      class="social-ic-baseline-telegram"
                      src="https://c.animaapp.com/mfjxamrhgPb3CJ/img/ic-baseline-telegram.svg"
                    />
                  </div>
                  <div class="social-group-3">
                    <p class="social-paragraph">Тут багато лайв-контенту, та вигідних пропозицій</p>
                    <div class="social-group-4">
                      <div class="social-overlap-group-2">
                        <div class="social-text-wrapper-8">Перейти в Телеграм</div>
                        <div class="social-rectangle"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <img class="social-coin" src="https://c.animaapp.com/mfjxamrhgPb3CJ/img/coin-6.png" />
            <img class="social-coin-img" src="https://c.animaapp.com/mfjxamrhgPb3CJ/img/coin-4.png" />
          </div>
        </div>
      </div>
    </section>
  </body>
</html>