<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="absolute w-full h-[535px] bottom-0 left-0 bg-white">
      <div class="relative w-[1445px] h-[474px] top-[61px] left-[390px]">
        <div
          class="absolute w-[297px] h-[297px] top-0 left-[590px] bg-[#47c6f4] rounded-[148.5px] blur-[125px] opacity-20"
        ></div>
        <img
          class="absolute w-[361px] h-[212px] top-[262px] left-[560px]"
          src="https://c.animaapp.com/mfla1zt2orCFIS/img/mask-group-1.png"
        />
        <div class="absolute w-[1140px] h-[361px] top-[26px] left-0">
          <div class="absolute w-[347px] h-[154px] top-0 left-[560px]">
            <div
              class="absolute top-0 left-0 font-semibold text-black text-base leading-[normal] [font-family:'Montserrat',Helvetica] tracking-[0]"
            >
              Меню сайта
            </div>
            <div
              class="absolute w-[287px] h-1 top-10 left-0 rounded-[5px] [background:linear-gradient(90deg,rgba(255,120,0,1)_0%,rgba(255,166,0,1)_100%),linear-gradient(0deg,rgba(217,217,217,1)_0%,rgba(217,217,217,1)_100%)]"
            ></div>
            <div class="absolute w-[287px] h-5 top-16 left-0">
              <a
                href="#"
                class="absolute w-[173px] top-0 left-0 font-normal text-[#757575] text-base leading-[normal] [font-family:'Montserrat',Helvetica] tracking-[0]"
              >
                Головна
              </a>
              <a
                href="#"
                class="absolute top-0 left-40 font-normal text-[#757575] text-base leading-[normal] [font-family:'Montserrat',Helvetica] tracking-[0]"
              >
                Сонячні станції
              </a>
            </div>
            <a
              href="#"
              class="absolute top-[99px] left-0 font-normal text-[#757575] text-base leading-[normal] [font-family:'Montserrat',Helvetica] tracking-[0]"
            >
              Обладнання
            </a>
            <a
              href="#"
              class="absolute top-[134px] left-0 font-normal text-[#757575] text-base leading-[normal] [font-family:'Montserrat',Helvetica] tracking-[0]"
            >
              Криптокотли
            </a>
            <a
              href="#"
              class="absolute top-[99px] left-40 font-normal text-[#757575] text-base leading-[normal] [font-family:'Montserrat',Helvetica] tracking-[0]"
            >
              Про компанію
            </a>
            <a
              href="#"
              class="absolute w-[173px] top-[134px] left-40 font-normal text-[#757575] text-base leading-[normal] [font-family:'Montserrat',Helvetica] tracking-[0]"
            >
              Прошивка
            </a>
          </div>
          <div class="absolute w-[236px] h-[154px] top-0 left-[912px]">
            <div
              class="absolute top-0 left-0 font-semibold text-black text-base leading-[normal] [font-family:'Montserrat',Helvetica] tracking-[0]"
            >
              Про компанію
            </div>
            <div
              class="absolute w-[228px] h-1 top-10 left-0 rounded-[5px] [background:linear-gradient(90deg,rgba(255,120,0,1)_0%,rgba(255,166,0,1)_100%),linear-gradient(0deg,rgba(217,217,217,1)_0%,rgba(217,217,217,1)_100%)]"
            ></div>
            <a
              href="#"
              class="absolute top-16 left-0 font-normal text-[#757575] text-base leading-[normal] [font-family:'Montserrat',Helvetica] tracking-[0]"
            >
              Про нас
            </a>
            <a
              href="#"
              class="absolute top-[99px] left-0 font-normal text-[#757575] text-base leading-[normal] [font-family:'Montserrat',Helvetica] tracking-[0]"
            >
              Контакти
            </a>
            <a
              href="#"
              class="absolute top-[134px] left-0 font-normal text-[#757575] text-base leading-[normal] [font-family:'Montserrat',Helvetica] tracking-[0]"
            >
              Політика конфіденційності
            </a>
          </div>
          <div class="absolute w-[443px] h-[361px] top-0 left-0">
            <img
              class="absolute w-[443px] h-[91px] top-0 left-0"
              src="https://c.animaapp.com/mfla1zt2orCFIS/img/group-338.png"
            />
            <div class="absolute w-[443px] h-[230px] top-[131px] left-0">
              <a
                href="#"
                class="w-[443px] left-0 absolute h-[60px] top-0 rounded-[10px] [background:linear-gradient(270deg,rgba(232,232,232,1)_0%,rgba(246,246,246,1)_100%)]"
              >
                <div class="relative w-[161px] h-8 top-3.5 left-5">
                  <div
                    class="absolute top-1.5 left-[47px] font-normal text-[#aaaaaa] text-base leading-[normal] [font-family:'Montserrat',Helvetica] tracking-[0]"
                  >
                    Знайти товар
                  </div>
                  <img
                    class="absolute w-8 h-8 top-0 left-0"
                    src="https://c.animaapp.com/mfla1zt2orCFIS/img/material-symbols-search-rounded.svg"
                  />
                </div>
              </a>
              <div class="absolute w-[190px] h-[130px] top-[100px] left-0">
                <div class="absolute w-[171px] h-[88px] top-[42px] left-0.5">
                  <div
                    class="left-0 font-bold leading-7 whitespace-nowrap absolute top-0 [font-family:'Montserrat',Helvetica] text-black text-base tracking-[0]"
                  >
                    Відділ продажу
                  </div>
                  <a
                    href="tel:+380735537777"
                    class="inline-flex items-center gap-2.5 absolute top-[38px] left-0"
                  >
                    <img
                      class="relative w-5 h-5"
                      src="https://c.animaapp.com/mfla1zt2orCFIS/img/mingcute-phone-fill.svg"
                    />
                    <div
                      class="relative w-fit mt-[-1.00px] [font-family:'Montserrat',Helvetica] font-normal text-black text-base tracking-[0] leading-[normal]"
                    >
                      +38 073 553 7777
                    </div>
                  </a>
                  <a
                    href="tel:+380686388777"
                    class="inline-flex items-center gap-2.5 absolute top-[68px] left-0"
                  >
                    <img
                      class="relative w-5 h-5"
                      src="https://c.animaapp.com/mfla1zt2orCFIS/img/mingcute-phone-fill.svg"
                    />
                    <div
                      class="relative w-fit mt-[-1.00px] [font-family:'Montserrat',Helvetica] font-normal text-black text-base tracking-[0] leading-[normal]"
                    >
                      +38 068 638 8777
                    </div>
                  </a>
                </div>
                <div
                  class="absolute w-[190px] h-8 top-0 left-0 bg-[#01bc25] rounded-[50px]"
                >
                  <div class="relative w-[165px] h-[15px] top-2 left-3.5">
                    <div
                      class="absolute top-0 left-0 font-medium text-white text-xs leading-[normal] [font-family:'Montserrat',Helvetica] tracking-[0]"
                    >
                      Цілодобово, без вихідних
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="absolute w-[214px] h-[120px] top-[100px] left-[229px]"
              >
                <div class="absolute w-[214px] h-[78px] top-[42px] left-0.5">
                  <div
                    class="left-0 font-bold leading-7 whitespace-nowrap absolute top-0 [font-family:'Montserrat',Helvetica] text-black text-base tracking-[0]"
                  >
                    Адреса
                  </div>
                  <div
                    class="inline-flex items-center gap-2.5 absolute top-[38px] left-0"
                  >
                    <img
                      class="relative w-5 h-5"
                      src="https://c.animaapp.com/mfla1zt2orCFIS/img/solar-map-point-bold.svg"
                    />
                    <p
                      class="relative w-[182px] mt-[-1.00px] font-normal text-black text-base leading-[normal] [font-family:'Montserrat',Helvetica] tracking-[0]"
                    >
                      Україна, Київ, вул. Харківське шоссе 188
                    </p>
                  </div>
                </div>
                <div
                  class="absolute w-[190px] h-8 top-0 left-0 bg-[#f1f1f1] rounded-[50px]"
                >
                  <div class="relative w-[119px] h-[15px] top-2 left-[37px]">
                    <div
                      class="absolute top-0 left-0 font-medium text-[#484848] text-xs text-center leading-[normal] [font-family:'Montserrat',Helvetica] tracking-[0]"
                    >
                      Центральний офіс
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="absolute w-[443px] h-[114px] top-[233px] left-[560px]">
            <div class="relative w-[445px] h-[114px]">
              <div
                class="inline-flex items-start gap-[17px] absolute top-[39px] left-0"
              >
                <a
                  href="#"
                  class="flex flex-col w-[59px] items-center gap-2.5 relative"
                >
                  <img
                    class="relative w-[50px] h-[50px]"
                    src="https://c.animaapp.com/mfla1zt2orCFIS/img/ic-baseline-telegram-2.svg"
                    alt="Telegram"
                  />
                  <div
                    class="relative self-stretch opacity-80 text-xs [font-family:'Montserrat',Helvetica] font-semibold text-black text-center tracking-[0] leading-[normal]"
                  >
                    Telegram
                  </div>
                </a>
                <img
                  class="relative w-px h-[70px] object-cover"
                  src="https://c.animaapp.com/mfla1zt2orCFIS/img/line-4-1.svg"
                />
                <a
                  href="#"
                  class="flex flex-col w-[66px] items-center gap-2.5 relative"
                >
                  <img
                    class="relative w-[50px] h-[50px]"
                    src="/icons/youtube.jpg"
                    alt="YouTube"
                  />
                  <div
                    class="relative self-stretch opacity-80 font-semibold text-black text-xs text-center [font-family:'Montserrat',Helvetica] tracking-[0] leading-[normal]"
                  >
                    YouTube
                  </div>
                </a>
                <img
                  class="relative w-px h-[70px] object-cover"
                  src="https://c.animaapp.com/mfla1zt2orCFIS/img/line-4-1.svg"
                />
                <a
                  href="#"
                  class="flex flex-col w-[66px] items-center gap-2.5 relative"
                >
                  <img
                    class="relative w-[50px] h-[50px]"
                    src="https://c.animaapp.com/mfla1zt2orCFIS/img/ic-baseline-tiktok.svg"
                    alt="TikTok"
                  />
                  <div
                    class="relative self-stretch opacity-80 font-semibold text-black text-xs text-center [font-family:'Montserrat',Helvetica] tracking-[0] leading-[normal]"
                  >
                    TikTok
                  </div>
                </a>
                <img
                  class="relative w-px h-[70px] object-cover"
                  src="https://c.animaapp.com/mfla1zt2orCFIS/img/line-4-1.svg"
                />
                <a
                  href="#"
                  class="flex flex-col w-[50px] items-center gap-2.5 relative"
                >
                  <img
                    class="relative w-[50px] h-[50px]"
                    src="https://c.animaapp.com/mfla1zt2orCFIS/img/basil-viber-solid-1.svg"
                    alt="Viber"
                  />
                  <div
                    class="relative self-stretch opacity-80 [font-family:'Montserrat',Helvetica] font-semibold text-black text-xs text-center tracking-[0] leading-[normal]"
                  >
                    Viber
                  </div>
                </a>
                <img
                  class="relative w-px h-[70px] object-cover"
                  src="https://c.animaapp.com/mfla1zt2orCFIS/img/line-4-1.svg"
                />
                <a
                  href="#"
                  class="flex flex-col w-[66px] items-center gap-2.5 relative"
                >
                  <img
                    class="relative w-[50px] h-[50px]"
                    src="https://c.animaapp.com/mfla1zt2orCFIS/img/mingcute-whatsapp-fill-1.svg"
                    alt="WhatsApp"
                  />
                  <div
                    class="relative self-stretch opacity-80 [font-family:'Montserrat',Helvetica] font-semibold text-black text-xs text-center tracking-[0] leading-[normal]"
                  >
                    WhatsApp
                  </div>
                </a>
              </div>
              <div
                class="absolute w-[422px] top-0 left-0 font-semibold text-black text-base leading-[normal] [font-family:'Montserrat',Helvetica] tracking-[0]"
              >
                Наші соцмережі:
              </div>
            </div>
          </div>
          <img
            class="absolute w-[443px] h-[279px] top-[195px] left-[1002px]"
            src="https://c.animaapp.com/mfla1zt2orCFIS/img/mask-group-2.png"
          />
        </div>
      </div>
    </div>
  </body>
</html>
