<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="how-to-make-money-section.css" />
  </head>
  <body>
    <section class="mining-section">
      <div class="mining-box">
        <div class="mining-view">
          <div class="mining-group">
            <div class="mining-div">
              <p class="mining-title">
                <span class="mining-text-wrapper">ЯК ПОЧАТИ</span>
                <span class="mining-span">&nbsp;</span>
                <span class="mining-text-wrapper-2">ЗАРОБЛЯТИ</span>
                <span class="mining-span">&nbsp;</span>
                <span class="mining-text-wrapper">НА </span>
                <span class="mining-text-wrapper-2">МАЙНІНГУ</span>
                <span class="mining-span">&nbsp;</span>
                <span class="mining-text-wrapper">КРИПТОВАЛЮТИ?</span>
              </p>
              <p class="mining-text-wrapper-3">Ось 5 простих кроків, щоб почати заробляти на майнінгу криптовалюти:</p>
            </div>
          </div>
          <div class="mining-group-2">
            <div class="mining-overlap-group-wrapper">
              <div class="mining-overlap-group">
                <div class="mining-text-wrapper-4">Консультація з нашим менеджером</div>
                <p class="mining-text-wrapper-5">
                  Зверніться до нашого менеджера на сайті, щоб отримати поради щодо вибору криптовалюти та стратегії
                  майнінгу.
                </p>
                <div class="mining-text-wrapper-6">01</div>
                <img class="mining-icon" src="https://c.animaapp.com/mfjw62ej3Y4nyV/img/icon.png" />
              </div>
            </div>
            <div class="mining-group-3">
              <div class="mining-group-4">
                <div class="mining-text-wrapper-7">Запустіть майнінг</div>
                <p class="mining-text-wrapper-8">
                  Купіть обладнання, створіть криптогаманець (є відео на нашому ютуб), підключіть кабель живлення та
                  інтернет, налаштуйте (є відео на нашому ютуб або зверніться до нас).
                </p>
                <div class="mining-text-wrapper-9">04</div>
                <p class="mining-text-wrapper-10">І все, отримуйте свою першу крипту на гаманець!</p>
              </div>
              <img
                class="mining-exam-pedia-yellow"
                src="https://c.animaapp.com/mfjw62ej3Y4nyV/img/exam-pedia-3d-yellow-balck-1.png"
              />
            </div>
            <div class="mining-overlap-wrapper">
              <div class="mining-overlap">
                <div class="mining-overlap-2">
                  <div class="mining-text-wrapper-11">Оцініть прибуток</div>
                  <div class="mining-overlap-group-2">
                    <p class="mining-text-wrapper-12">Розрахуйте потенційний дохід від майнінгу.</p>
                    <img class="mining-design" src="https://c.animaapp.com/mfjw62ej3Y4nyV/img/design1-1.png" />
                  </div>
                  <div class="mining-text-wrapper-13">03</div>
                </div>
                <div class="mining-group-wrapper">
                  <div class="mining-group-5">
                    <div class="mining-text-wrapper-14">Приклад:</div>
                    <div class="mining-frame">
                      <div class="mining-frame-2">
                        <div class="mining-text-wrapper-15">ANTMINER L9 16Gh</div>
                        <div class="mining-text-wrapper-16">/</div>
                        <div class="mining-text-wrapper-15">Ціна: 6500$</div>
                        <div class="mining-text-wrapper-16">/</div>
                        <div class="mining-text-wrapper-15">Прибуток на місяць: 720$</div>
                        <div class="mining-text-wrapper-16">/</div>
                      </div>
                      <div class="mining-frame-3">
                        <p class="mining-text-wrapper-15">
                          Cпоживання: 4 кВт/год х 24год = 88 кВт в день , 88 х 30 днів = 2640 кВт
                        </p>
                        <div class="mining-text-wrapper-16">/</div>
                      </div>
                      <div class="mining-frame-2">
                        <p class="mining-text-wrapper-15">Ціна електроенергії (Тариф День/Ніч) = 3.6 грн/Квт</p>
                        <div class="mining-text-wrapper-16">/</div>
                      </div>
                      <div class="mining-frame-2">
                        <p class="mining-text-wrapper-15">Витрати на місяць: 2640 кВт/Міс. х 3.6 грн/кВт = 9504 грн (230$)</p>
                        <div class="mining-text-wrapper-16">/</div>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="mining-text-wrapper-17">Чистий прибуток: 720$ - 230$ = 490$ в міс.</p>
              </div>
            </div>
            <div class="mining-div-wrapper">
              <div class="mining-overlap-3">
                <div class="mining-overlap-group-3">
                  <img class="mining-mask-group" src="https://c.animaapp.com/mfjw62ej3Y4nyV/img/mask-group.png" />
                  <div class="mining-text-wrapper-18">Виберіть обладнання</div>
                  <p class="mining-text-wrapper-19">
                    На нашому сайті ознайомтесь із цінами на обладнання, подивіться який прибуток на місяць, та яке
                    споживання на годину.
                  </p>
                </div>
                <div class="mining-text-wrapper-20">02</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>